body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
/*	background-color: #e5e5e5;
*/}
/*#sneakers-body{
	background-color: #333E45;
}
#skateboarding-body{
	background-color: #675236;
}
#sandals-body{
	background-color: #8B8B8B;
}
#classic-body{
	background-color: #432C34;
}*/
.Title{
	box-shadow: 0px 1vh 2vh -2vh #111; 
	background-color: white;
	height: 10vh;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.Title .arrow-left{
	position: relative;
	left: 50px;
	color: black;
	font-size: 30px;
}
.Title h1{
	z-index: 99999;
	margin: 0; 
	padding: 0;
	padding-left: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 350%;
	font-weight: 100;
}
.social-container{
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  }
  .social-container a{

    width: 15px;
    height: 15px;
    margin: 25px 25px 25px 25px;
  }
  .social-container a:hover{
  }
  .soc-icon{
    color: #000000;
    font-size: 25px;
  }

  /*MAIN SECTION*/

main{
	margin: 0 auto;
	color: black;
	width: 100%;
}
main .shop-main{
	width: 100%;
}
main .shop-topbar{ 
	font-family: 'Noto Sans', sans-serif;
	color: black;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 12vh;
}

/*DROP DOWN SELECTOR*/

/* The container must be positioned relative: */
.custom-select {
	margin: 0 3%;
	width: 12%;
	position: relative;
	color: black;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
	z-index: 0;
  	background-color: white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
/*-webkit-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 45px -10px rgba(0,0,0,0.75);*/
  padding: 8px 16px;
  border: 1px solid black;
  border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

main .main-center{
	display: inline-flex;
	width: 100%;
}
main .shop-sidebar{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 80vh;
	width: 20%;
}
main ul{
	font-family: 'Noto Sans', sans-serif;
	list-style-type: none;
}
main .shop-sidebar .sidebar-list{
	margin-top: 10vh;
	padding: 0;
	list-style-type: none;
}
.sidebar-list .sidebar-list-header{
	font-size: 150%;
	padding: 2vh 0; 
}
.sidebar-list .sidebar-list-items li{
	font-size: 115%;
	padding: 1vh 0;
}
main .shop-main-items{
	width: 80%;
	height: 80vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}